{% extends "base.html" %} {% block title %}Admin | TimeTable{% endblock %} {%
block body %}
<form action="/admin/timetableForClass">
  <h5>Class</h5>
  <div class="input-field col s12">
    <select onchange="changeId(this.value)" name="class" class="browser-default" id="classId">
      {% for class in classes %}
      <option class="class-id" value="{{class.id}}">{{class.name}}</option>
      {% endfor %}
    </select>
    <br />
  </div>

  <table>
    <thead>
      <tr>
        <th>Day/Period</th>
        {% for period in periods %}
        <th data-value="{{period.id}}">
          {{period.fromTime}}-{{period.toTime}}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for day in days %}
      <tr data-value="{{day}}">
        <td><b>{{day}}</b></td>
        {% for period in periods %}
        <td id="{{period.id}}-{{day}}" contenteditable="true">NA</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/admin/timeTable">Back to Time table</a>

<script type="text/javascript">
  $(function () {
    $.ajax({
      url: "/admin/getTimetable/1",
      method: "get"
    }).done((data) => {
      debugger
      data = JSON.parse(data);
      data.forEach(_data => {
        let td = $("#" + _data.periodID + "-" + _data.day);
        if (td.length) {
          td.text(_data.subjectCode + "/" + _data.teacher)
        }
      });

    }).fail(console.log)
    console.log("read")
  })
  function changeId(val) {
    // let id = val;
    // id = newId
    // alert(id)
  }

</script>
{% endblock %}