{% extends "base.html" %} {% block title %}Login{% endblock %} {% block body %}

<h1>login</h1>
<form class="white" method="post">
  <h5 class="grey-text text-darken-0">Sign In</h5>
  <div class="input-field">
    <label for="email">Email</label><input type="email" name="email" id="email" value="nikkyamresh8@gmail.com"
      required />
  </div>
  <div class="input-field">
    <label for="password">Password</label><input type="password" id="password" value="test" name="password" required />
  </div>
  <div class="input-field">
    <button class="btn bg-orange lighten-1 z-depth-0">Login</button>
  </div>
</form>

{% endblock %}