{% extends "base.html" %} {% block title %}Admin | Teacher{% endblock %} {%
block body %}
<h1>Teachers</h1>
{% for dept in teacher%} {{dept.id}}.{{dept.name}} - {{dept.department}}
<a class="btn bg-red" href="/admin/teacher/{{dept.id}}">Edit</a>
<a class="btn bg-red" href="/admin/deleteTeacher/{{dept.id}}">Delete</a>
<br />
<br />
{% endfor %}

<h4>New Teacher</h4>
<form action="/admin/createTeacher" method="post">
  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="input-field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>
  <div class="input-field">
    <label for="mobile">Mobile</label>
    <input type="tel" id="mobile" name="mobile" />
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <label for="hod">Department</label>
  <div class="input-field col s12">
    <select name="department" class="browser-default" id="hod">
      {% for dep in deps %}
      <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select>
    <br />
  </div>
  <button class="btn bg-orange lighten-1 z-depth-0">Create</button>
</form>
<br />
<a href="/admin">Back to Admin Dashboard</a>

{% endblock %}
