{% extends "base.html" %} {% block title %}Admin | Department{% endblock %} {%
block body %}
<h3>
  {{department.name}} Department
  <a class="btn bg-red" href="/admin/deleteDepartment/{{department.id}}"
    >delete</a
  >
</h3>
<form action="/admin/updateDepartment" method="post">
  <div class="input-field">
    <label for="name">Department Name</label>
    <input type="hidden" name="id" value="{{department.id}}" />
    <input type="text" id="name" name="name" value="{{department.name}}" />
  </div>
  <button class="btn bg-orange lighten-1 z-depth-0">Update</button>
</form>
<br>
<a href="/admin/department">Back to list</a>
{% endblock %}
