{% extends "base.html" %} {% block title %}Admin | Dashboard{% endblock %} {%
block body %}
<h1>Welcome Admin</h1>

<a href="/admin/department">Department Managementt</a> <br /><br />
<a href="/admin/teacher">Teachers Managementt</a> <br /><br />
<a href="/admin/batch">Batches Management</a> <br /><br />
<a href="/admin/course">Course Management</a> <br /><br />
<a href="/admin/branch">Branch Management</a> <br /><br />
<a href="/admin/semester">Semester Management</a> <br /><br />
<a href="/admin/classes">Classes Management</a> <br /><br />
<a href="/admin/student">Student Management</a> <br /><br />
<a href="/admin/subject">Subject Management</a> <br /><br />
<a href="/logout">Logout</a>

{% endblock %}