{% extends "base.html" %} {% block title %}Admin | Student{% endblock %} {%
block body %}
<form action="/admin/updateStudent" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-6" method="post">
  <div>
    <div>
      <label for="name">Name</label>
      <input type="hidden" name="id" value="{{student.id}}" />
      <input type="hidden" id="userID" name="userID" value="{{student.userID}}" />
      <input type="text" id="name" name="name" value="{{student.name}}" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{student.email}}" />
    </div>
    <div>
      <label for="mobile">Mobile</label>
      <input type="tel" id="mobile" name="mobile" value="{{student.mobile}}" />
    </div>
    <div>
      <label for="mobile">Roll Num</label>
      <input type="tel" id="rollNum" name="rollNum" value="{{student.rollNum}}" />
    </div>
    <div>
      <label for="course">Course</label>
      <br />
      <select name="course" class="browser-default" id="course">
        {% for course in courses %}
        <option {% if course.id==student.courseID %}selected{% endif %} value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="batch">Batch</label>
      <br />
      <select name="batch" class="browser-default" id="batch">
        {% for batch in batches %}
        <option {% if batch.id==student.batchID %}selected{% endif %} value="{{batch.id}}">{{batch.code}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field">
      <label for="name">Class</label>
      <br />
      <div class="input-field col s12">
        <select name="class" class="browser-default" id="class">
          {% for class in classes %}
          <option {% if class.id==student.classID %}selected{% endif %} value="{{class.id}}">{{class.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <button class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 rounded">Update</button>
  <a class="text-red-600 hover:text-red-400" href="/admin/deleteStudent/{{student.id}}"><i
      class="material-icons-round">delete_outline</i></a>
</form>
<br />
{% endblock %}