{% extends "base.html" %} {% block title %}Admin | Student{% endblock %} {% block
body %}
<div class="flex m-5">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <table class="table lg:h-full lg:w-screen text-gray-400 border-separate space-y-6 text-sm">
        <thead class="bg-blue-900 text-white">
          <tr>
            <th class="p-3 lg:w-4 text-left">Serial no.</th>
            <th class="p-3 text-center">Name</th>
            <th class="p-3 text-left">Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for students in students%}
          <tr class="bg-blue-100 lg:text-black">
            <td class="p-3 font-medium capitalize">{{students.id}}</td>
            <td class="p-3 text-center">{{students.name}}</td>
            <td class="p-3">
              <a href="/admin/student/{{students.id}}" class="text-yellow-400 hover:text-yellow-500 mx-2">
                <i class="material-icons-outlined text-base">edit</i>
              </a>
              <a href="/admin/deleteStudent/{{students.id}}" class="text-red-400 hover:text-red-500 ml-2">
                <i class="material-icons-round text-base">delete_outline</i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<h4>New Student</h4>
<form action="/admin/createStudent" method="post">
  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="input-field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>
  <div class="input-field">
    <label for="mobile">Mobile</label>
    <input type="tel" id="mobile" name="mobile" />
  </div>
  <div class="input-field">
    <label for="mobile">Roll Num</label>
    <input type="tel" id="rollNum" name="rollNum" />
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <div class="input-field">
    <label for="name">Course</label>
    <br />
    <div class="input-field col s12">
      <select name="course" class="browser-default" id="course">
        {% for course in courses %}
        <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="input-field">
    <label for="name">Batch</label>
    <br />
    <div class="input-field col s12">
      <select name="batch" class="browser-default" id="batch">
        {% for batch in batches %}
        <option value="{{batch.id}}">{{batch.code}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="input-field">
    <label for="name">Class</label>
    <br />
    <div class="input-field col s12">
      <select name="class" class="browser-default" id="class">
        {% for class in classes %}
        <option value="{{class.id}}">{{class.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button class="btn bg-orange lighten-1 z-depth-0">Create</button>
</form>
<br />
<a href="/admin">Back to Admin Dashboard</a>

{% endblock %}