{% extends "base.html" %}
{% set islogin=1 %}
{% block title %}TimeTable{% endblock %} {%
block body %}

<h3>Time Table</h3>
<div class="block w-full overflow-x-auto">
<table class="items-center bg-transparent w-full border-collapse">
  <thead>
    <tr>
      <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Day/Period</th>
      {% for period in periods %}
      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 " data-value="{{period.id}}">{{period.fromTime}}-{{period.toTime}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for day in days %}
    <tr data-value="{{day}}">
      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 "><b>{{day}}</b></th>
      {% for period in periods %}
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 tableData" id="{{period.id}}-{{day}}">NA</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script type="text/javascript">
  $(function () {
    $.ajax({
      url: "/student/getTimetable",
      method: "get",
    })
      .done((data) => {
        data = JSON.parse(data);
        data.forEach((_data) => {
          let td = $("#" + _data.periodID + "-" + _data.day);
          if (td.length) {
            td.text(_data.subjectName + "/" + _data.teacher);
          }
        });
      })
      .fail((err) => {
        console.log(err)
      });
    console.log("read");
  });
</script>
{% endblock %}