{% extends "base.html" %} {% block title %}Admin | Semesters{% endblock %} {%
block body %}
<h3>
    Semesters
    <br>
    {{semester.name}}
    <a class="btn bg-red" href="/admin/deleteSemester/{{semester.id}}">delete</a>
</h3>
<form action="/admin/updateSemester" method="post">
    <div class="input-field">
        <label for="name">semester Name</label>
        <input type="hidden" name="id" value="{{semester.id}}" />
        <input type="text" id="name" name="name" value="{{semester.name}}" />
    </div>
    <br>
    <button class="btn bg-orange lighten-1 z-depth-0">Update</button>
</form>
<br />
<a href="/admin/semester">Back to list</a>
{% endblock %}