{% extends "base.html" %} {% block title %}Admin | Branches{% endblock %} {%
block body %}
<form action="/admin/updateBranch" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-6" method="post">
  <div class="flex flex-wrap -mx-3 mb-6">
    <input type="hidden" name="id" value="{{branch.id}}" />
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label for="name">Branch Name</label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        type="text" id="name" name="name" value="{{branch.name}}" />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label for="code">Branch CODE</label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        type="text" id="code" name="code" value="{{branch.code}}" />
    </div>
  </div>


  <br>
  <label for="hod">Department</label>

  <div class="input-field col s12">
    <select name="department" class="browser-default" id="hod">
      {% for dep in deps %}
      <option {% if dep.id==branch.departmentID %}selected="selected" {% endif %} value="{{dep.id}}">{{dep.name}}
      </option>
      {% endfor %}
    </select>
    <br>
  </div>
  <button class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 rounded">Update</button>
  <a class="text-red-600 hover:text-red-400" href="/admin/deleteBranch/{{branch.id}}"><i
      class="material-icons-round">delete_outline</i></a>
</form>
<br />
<a href="/admin/branch">Back to list</a>
{% endblock %}