{% extends "base.html" %} {% block title %}Admin | Branch{% endblock %} {% block
body %}
<h1>Branches</h1>
{% for branch in branches%} {{branch.id}}.{{branch.name}} - {{branch.code}}
<a class="btn bg-red" href="/admin/branch/{{branch.id}}">Edit</a>
<a class="btn bg-red" href="/admin/deleteBranch/{{branch.id}}">Delete</a>
<br />
<br />
{% endfor %}

<h4>New Branch</h4>
<form action="/admin/createBranch" method="post">
  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="input-field">
    <label for="code">Code</label>
    <input type="text" id="code" name="code" />
  </div>
  <label for="hod">Department</label>
  <div class="input-field col s12">
    <select name="department" class="browser-default" id="hod">
      {% for dep in deps %}
      <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select>
    <br />
  </div>
  <button class="btn bg-orange lighten-1 z-depth-0">Create</button>
</form>
<br />
<a href="/admin">Back to Admin Dashboard</a>

{% endblock %}
