{% extends "base.html" %} {% block title %}Admin | Period{% endblock %} {%
block body %}
<h4>Periods</h4>
{% for period in periods%}
Timing {{period.fromTime}}-{{period.toTime}} <br>
Day - {{period.day}} <br>
section - {{period.section}} <br>
Subject Name - {{period.name}} <br>
Subject Code - {{period.subjectCode}} <br>
Department - {{period.department}} <br>
Branch - {{period.branch}} <br>
Semester - {{period.semester}} <br>
Teacher - {{period.teacher}} <br>
<a class="btn bg-red" href="/admin/periods/{{periods.id}}">Edit</a>
<a class="btn bg-red" href="/admin/deletePeriod/{{periods.id}}">Delete</a>
<br />
<br />
{% endfor %}

<h4>New Period</h4>
<form action="/admin/createPeriod" method="post">
    <h5>Timing</h5>
    <div class="input-field">
        <label for="fromTime">From</label>
        <input type="time" id="appt" name="fromTime" min="09:00" max="18:00" required>
    </div>
    <div class="input-field">
        <label for="toTime">To</label>
        <input type="time" id="appt" name="toTime" min="09:00" max="18:00" required>
    </div>
    <h5>Day</h5>
    <div class="input-field col s12">
        <select name="day" class="browser-default" id="hod">
            {% for day in days %}
            <option value="{{day}}">{{day}}</option>
            {% endfor %}
        </select>
        <br />
    </div>
    <h5>Subject</h5>
    <div class="input-field col s12">
        <select name="subject" class="browser-default" id="hod">
            {% for subject in subjects %}
            <option value="{{subject.id}}">{{subject.name}}</option>
            {% endfor %}
        </select>
        <br />
    </div>
    <h5>Branch</h5>
    <div class="input-field col s12">
        <select name="branch" class="browser-default" id="hod">
            {% for branch in branches %}
            <option value="{{branch.id}}">{{branch.name}}</option>
            {% endfor %}
        </select>
        <br />
    </div>
    <h5>Semester</h5>
    <div class="input-field col s12">
        <select name="semester" class="browser-default" id="hod">
            {% for sem in semesters %}
            <option value="{{sem.id}}">{{sem.name}}</option>
            {% endfor %}
        </select>
        <br />
    </div>
    <h5>Teacher</h5>
    <div class="input-field col s12">
        <select name="teacher" class="browser-default" id="hod">
            {% for teacher in teachers %}
            <option value="{{teacher.userID}}">{{teacher.name}}</option>
            {% endfor %}
        </select>
        <br />
    </div>

    <button class="btn bg-orange lighten-1 z-depth-0">Create</button>
</form>
<br />
<a href="/admin">Back to Admin Dashboard</a>

{% endblock %}