{% extends "base.html" %} {% block title %}Teacher | Attendance{% endblock %} {%
block body %}

<h3>
  {{timeTable.branchCode}} - {{timeTable.semester}} sem section -
  {{timeTable.section|ucf}}
</h3>

<h4>
  Subject - {{timeTable.subjectName}}({{timeTable.subjectCode}}) -
  {{timeTable.day|ucf}}/{{timeTable.fromTime}}-{{timeTable.toTime}}
</h4>

<table>
  <thead>
    <tr>
      <th>Roll no.</th>
      <th>Student Name</th>
      <th>Status</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>
        <button onclick="allP()" class="btn bg-gray-200 text-white bg-green-600">
          All Present</button
        ><button onclick="allA()" class="btn bg-gray-200 text-white bg-red-600">
          All Absent
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    {%for student in students%}
    <tr>
      <td>{{student.rollNum}}</td>
      <td>{{student.name}}</td>
      <td>
        <button
          class="pres btn bg-gray-200 text-black hover:text-white hover:bg-green-600"
        >
          Present</button
        ><button
          class="abs btn bg-gray-200 text-black hover:text-white hover:bg-red-600"
        >
          Absent
        </button>
        <button
          class="
            btn
            bg-gray-200
            text-black
            hover:text-white hover:bg-yellow-600
          "
        >
          Leave
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>

  $(document).ready(function(){
    console.log('jQuery init');
  });

  function allP() {
    $('.pres').each(function (e) {
      $(e).addClass('text-white bg-green-600');
    })
    $('.abs').each(function (e) {
      $(e).removeClass('text-white bg-red-600');
    })
  }
  function allA() {
    $('.abs').each(function (e) {
      $(e).addClass('text-white bg-red-600');
    })
    $('.pres').each(function (e) {
      $(e).removeClass('text-white bg-green-600');
    })
  }
</script>
{% endblock %}
