{% extends "base.html" %} {% block title %}Teacher | Attendance{% endblock %} {%
block body %}
<h3>
  {{timeTable.branchCode}} - {{timeTable.semester}} sem section -
  {{timeTable.section|ucf}}
</h3>

<h4>
  Subject - {{timeTable.subjectName}}({{timeTable.subjectCode}}) -
  {{timeTable.day|ucf}}/{{timeTable.fromTime}}-{{timeTable.toTime}}
</h4>

<table>
  <thead>
    <tr>
      <th>Roll no.</th>
      <th>Student Name</th>
      <th>Status</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>
        <button
          onclick="allP()"
          class="all-pres btn bg-gray-200 text-white bg-green-600"
        >
          All Present
        </button>
        <button
          onclick="allA()"
          class="all-abs btn bg-gray-200 text-white bg-red-600"
        >
          All Absent
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    {%for student in students%}
    <tr>
      <td>{{student.rollNum}}</td>
      <td>{{student.name}}</td>
      <td>
        <button
          onclick="addP(this)"
          data-studentID="{{student.id}}"
          class="pres btn bg-gray-200 text-black hover:text-white hover:bg-green-600"
        >
          Present
        </button>
        <button
          onclick="addA(this)"
          data-studentID="{{student.id}}"
          class="abs btn bg-gray-200 text-black hover:text-white hover:bg-red-600"
        >
          Absent
        </button>
        <button
          class="btn bg-gray-200 text-black hover:text-white hover:bg-yellow-600"
        >
          Leave
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button id="submitBtn" onclick="submitAttendance()" class="btn btn-primary">
  Submit
</button>
<script>
      var attendance = {{ attendance | json_encode() | raw }}
  $(document).ready(function () {
    console.log('jQuery init');
    if(attendance.length){
      $("#submitBtn").attr('disabled',true);

    attendance.forEach((at)=>{
      if(at.status){
      addP($('button[data-studentID='+at.studentID+"].pres"))
      }else{
        addA($('button[data-studentID='+at.studentID+"].abs"))
      }
    })
    }
  });


  function submitAttendance() {
    let formData = [];
    $('.present').each(function () {
      formData.push({id:$(this).attr('data-studentID'),status:1});
    })
    $('.absent').each(function () {
      formData.push({id:$(this).attr('data-studentID'),status:0});
    })
    sendData(formData);
  }
  function sendData(dataToSend) {
    var timeTableId = {{ timeTable.id | json_encode() | raw
  }};
  function l(res) {
    res = JSON.parse(res);
    if(res.status){
      showSuccessMessage(res.message);
    }else{
      showErrorMessage(res.message);
    }
    console.log(res);
  }
  $.ajax({
    'url': '/teacher/submitAttendance',
    method: 'POST',
    'data': {
      timetableID: timeTableId,
      attendances: dataToSend
    }
  }).done(l).fail(function (err) {
    console.log(err);
  });
  }

  function addP(e) {
    $(e).addClass('text-white bg-green-600 present');
    $(e).siblings().each(function () {
      removeA(this);
    })
  }
  function addA(e) {
    $(e).addClass('text-white bg-red-600 absent');
    $(e).siblings().each(function () {
      removeP(this);
    })
  }
  function removeP(e) {
    $(e).removeClass('text-white bg-green-600 present');
  }
  function removeA(e) {
    $(e).removeClass('text-white bg-red-600 absent');
  }

  function allP() {
    $('.pres').each(function () {
      addP(this);
    })
  }
  function allA() {
    $('.abs').each(function () {
      addA(this);
    })
  }
</script>
{% endblock %}
