{% extends "base.html" %} {% block title %}Admin | Courses{% endblock %} {%
block body %}
<form action="/admin/updateCourse" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-6" method="post">
    <div class="input-field">
        <label for="name">course Name</label>
        <input type="hidden" name="id" value="{{course.id}}" />
        <input type="text" id="name" name="name" value="{{course.name}}" />
    </div>
    <br>
    <div class="input-field col s12">
        <select name="duration" class="browser-default" id="hod">
            {% for year in range(1,5) %}
            <option {% if course.duration==year %}selected="selected" {% endif %} value="{{course.id}}">
                {{year}}</option>
            {% endfor %}
        </select>
        <br>
    </div>
    <button class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 rounded">Update</button>
    <a class="text-red-600 hover:text-red-400" href="/admin/deleteCourse/{{course.id}}"><i
            class="material-icons-round">delete_outline</i></a>

</form>
<br />
{% endblock %}