{% extends "base.html" %} {% block title %}dashboard{% endblock %} {% block body %}

<div class="min-h-screen flex flex-row bg-gray-100">
    <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
        <ul class="flex flex-col py-4">
            <li>
                <a href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="fas fa-home"></i></span>
                    <span class="text-sm font-medium">Home</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="fas fa-user"></i></span>
                    <span class="text-sm font-medium">profile</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="fas fa-clock"></i></span>
                    <span class="text-sm font-medium">Attendance</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="fas fa-calendar"></i></span>
                    <span class="text-sm font-medium">Timetable</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="fa fa-certificate"></i></span>
                    <span class="text-sm font-medium">Marksheet</span>
                </a>
            </li>
            <a href="#"
                class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                        class="fas fa-sign-out-alt"></i></span>
                <span class="text-sm font-medium">Logout</span>
            </a>
            </li>
        </ul>
    </div>
    <div class="flex">
        <div class="flex-1 ...">
            hello
            <!-- Will grow and shrink as needed without taking initial size into account -->
        </div>
        <div class="flex-1 ...">
            hi
            <!-- Will grow and shrink as needed without taking initial size into account -->
        </div>
        <div class="flex-1 ...">
            hi
            <!-- Will grow and shrink as needed without taking initial size into account -->
        </div>
    </div>
</div>
{% endblock %}