{% extends "base.html" %} {% block title %}Admin | Teachers{% endblock %} {%
block body %}
<form action="/admin/updateBatch" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-6" method="post">
  <div class="input-field col s12">
    <h4>From</h4>
    <input type="hidden" name="id" value="{{batch.id}}" />
    <select name="fromYear" class="browser-default" id="hod">
      {% for year in years.from %}
      <option {% if batch.fromYear==year %}selected="selected" {% endif %} value="{{year}}">
        {{year}}
      </option>
      {% endfor %}
    </select>
    <br />
  </div>
  <div class="input-field col s12">
    <h4 for="toYear">To</h4>
    <select name="toYear" class="browser-default" id="hod">
      {% for year in years.to %}
      <option {% if batch.toYear==year %}selected="selected" {% endif %} value="{{year}}">{{year}}</option>
      {% endfor %}
    </select>
    <br />
  </div>
  <button class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 rounded">Update</button>
  <a href="/admin/deleteBatch/{{batch.id}}" class="text-red-600 hover:text-red-400"> <i
      class="material-icons-round">delete_outline</i>
  </a>
</form>
<br />
{% endblock %}