{% extends "base.html" %} {% block title %}Admin | Period{% endblock %} {%
block body %}
<h4>Periods</h4>
<h5>Update</h5>
<a class="btn bg-red" href="/admin/deletePeriod/{{period.id}}">Delete</a>
<br />
<br />
<h4>New Period</h4>
<form action="/admin/updatePeriod" method="post">
    <h5>Timing</h5>
    <input type="hidden" name="id" value="{{period.id}}">
    <div class="input-field">
        <label for="fromTime">From</label>
        <input type="time" id="appt" value="{{period.fromTime}}" name="fromTime" min="09:00" max="18:00" required>
    </div>
    <div class="input-field">
        <label for="toTime">To</label>
        <input type="time" id="appt" value="{{period.toTime}}" name="toTime" min="09:00" max="18:00" required>
    </div>
    <button class="btn bg-orange lighten-1 z-depth-0">Update</button>

</form>
<br />
<a href="/admin">Back to Admin Dashboard</a>

{% endblock %}